ul {
  list-style-type: none;
  margin: 10px;
}

li {
  padding: 10px;
  border-top: 1px solid #eee;
  margin: 10px;
  background: #fff;
  color: #000;
}

button {
  border: none;
  background: transparent;
  text-decoration: underline;
  margin: 10px 0;
  padding: 0;
  color: blue;
  cursor: pointer;
}

img {
  display: block;
  margin: 0 auto;
}

p > a {
  word-wrap: break-word;
}